.container {
  height: 653px;
  padding: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #000000;
  width: 100%;
}

.logo {
  height: 37.6px;
  object-fit: contain;
  margin-top: 58.4px;
  margin-left: 128px;
  padding: 0px;
}

.image{
  width: 254.2px;
  height: 37.6px;
  object-fit: contain;
}

.close {
  padding: 0px !important ;
  border-bottom: none !important;
}

.close > button {
  color: #ffffff;
  opacity: 1;
  width: 24.4px;
  height: 23.8px;
  opacity: 1;
  margin: 0px !important;
  margin-right: 125.7px !important;
  margin-top: 45px !important;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 552px;
  padding: 0px;
}

.about {
  width: 92px;
  height: 57px;
  font-family: TrumpGothicEast;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 0.96px;
  text-align: left;
  color: #ffffff;
}

.otherLinks {
  width: 133px;
  height: 57px;
  font-family: TrumpGothicEast;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 0.96px;
  text-align: left;
  color: #ffffff;
  margin-top: 16px;
  padding: 0px;
  margin-bottom: 0px;
}

.languages {
  margin-top: 25px;
  margin-left: 552px;
  padding: 0px;
  margin-bottom: 0px;
}

.en {
  width: 21px;
  height: 19px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.otherLanguages {
  width: 22px;
  height: 19px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #91959b;
  margin-left: 20px;
}

.icons {
  padding: 0px;
  margin-left: 127px;
  margin-top: 69px;
  display: flex;
}

.facebook {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.otherIcons {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-left: 16px;
}

.footer {
  display: flex;
  padding: 0px;
}

.button {
  width: 176px;
  height: 48px;
  border: solid 1px #03c4c7 !important;
  color: #03c4c7 !important;
  background-color: #000000 !important;
  margin-top: 55px;
  margin-left: 241px;
}

@media screen and (min-width:360px) and (max-width:1023px) {

  .container{
    width: 360px;
    /* height: 640px !important; */
    background-color: #000000;
  }


  .logo{
    margin-left: 16px;
    margin-top: 26px;
  }

  .image{
    width: 149.2px;
    height: 22px;
    object-fit: contain;
  }

  .links{
    margin-left: 136px;
  }

  .about{
    width: 61px;
    height: 39px;
    font-family: TrumpGothicEast;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.64px;
    text-align: left;
    color: #ffffff;
  }

  .otherLinks{
    width: 88px;
    height: 39px;
    font-family: TrumpGothicEast;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.64px;
    text-align: left;
    color: #ffffff;
  }

  .close > button {
    color: #ffffff;
    opacity: 1;
    width: 24.4px;
    height: 23.8px;
    opacity: 1;
    margin: 0px !important;
    margin-right: 10% !important;
    margin-top: 10px !important;
  }

  .languages{
    margin-left: 128px;
    margin-top: 40px;
  }
  .footer{
    flex-direction: column-reverse;
  }
  .icons{
    margin-left: 88px;
    margin-top: 40px;
  }
  .button{
    width: 240px;
    height: 48px;
    padding: 15px 48px 14px 52px;
    margin-left: 60px;
    border: solid 1px #03c4c7;
    margin-top: 74px;
  }
}
